<%- include ('partials/header.ejs'); %>


<body>
<%- include ('partials/navbar.ejs'); %>
<br>
<%- include ('partials/cards-secas.ejs'); %>



<%- include ('partials/comentario.ejs'); %>

</body>
<%- include ('partials/footer.ejs'); %>











